
<html>

 <head>
  
 <meta charset="utf-8">
 <!-- importer le fichier de style -->
 <link rel="stylesheet" href="static/inventaire/css/inventaire.css" media="screen" type="text/css" />
 <img src="static/inventaire/images/logo.png" id="logo" >
 </head>
 
  <body>
  
    <nav id="example-5" >
      <ul>
       
        <li id="inv"><a href="/inventaire">Inventaire</a></li>
        <li><a href="/incident" >Incident</a></li>
        
        <li><a href="/">Déconnexion</a></li>
                 
      </ul>
    </nav>
    <form method="GET" action="{% url 'search_by_sn' %}">
      <input type="text" name="search_sn" placeholder="Enter numero de série" class="button" style="margin-left: 62%; margin-top: -5%;background-color: aliceblue;">
      <button type="submit"  class="button" style="margin-left: 80%; margin-top: -5%; ">Chercher</button>
  </form>
      <table class="center">
        {% if marque %}
        <h1 style="color: white;text-align: center;">Inventaires pour la marque {{ marque }} :</h1>
        {% endif %}
        <thead>
          <tr>
            <th>SN</th>
              <th>Application</th>
              <th>IP</th>
              <th>Marque</th>
              <th>Disk</th>
              <th>CPU</th>
              <th>RAM</th>
              <th>Date d'achat</th>
              <th>Support</th>
              <th>Type</th>
              <th>Site</th>
              <th>Position</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          {% for inventaire in inventaires %}
          <tr>
            <td>{{ inventaire.SN }}</td>
              <td>{{ inventaire.Application }}</td>
              <td>{{ inventaire.IP }}</td>
              <td>{{ inventaire.Marque }}</td>
              <td>{{ inventaire.Disk }}</td>
              <td>{{ inventaire.CPU }}</td>
              <td>{{ inventaire.RAM }}</td>
              <td>{{ inventaire.Date }}</td>
              <td>{{ inventaire.Support }}</td>
              <td>{{ inventaire.Type }}</td>
              <td>{{ inventaire.Site }}</td>
              <td>{{ inventaire.Position }}</td>
              <td> 
                <div class="form-container">
                <form class="form" method="get" action="{% url 'supprimer_inventaire' %}">
                  <input type="hidden" name="SN" value="{{ inventaire.pk }}">
                
                  <button type="submit" title="supprimer" style="background-color: transparent;border: none;color: aliceblue;">   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor"  class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg></button>
                  
              </form>
              <form class="form" action="{% url 'edit' %}"  method="get">
                
                <input type="hidden" name="SN" value="{{ inventaire.SN }}">
                <button type="submit" title="Modifier" style="background-color: transparent;border: none;color: aliceblue;">  <svg xmlns="http://www.w3.org/2000/svg"  width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg></button>
                
            </form>
          </div>
         
            </td>
         
          </tr>
          {% endfor %}
      </tbody>
      </table>
 </body>
</html>
